body {
  background-color: #f5e6ca;
  font-family: Arial, Helvetica, sans-serif;
}

.links {
  color: #f5e6ca;
  background-color: #343f56;
  text-decoration: none;
}

img {
  width: 350px;
  height: auto;
  float: right;
  border-radius: 10px;
  border-style: double;
  border-color: #fb9300;
}

h1 {
  color: #f5e6ca;
  background-color: #343f56;
  width: 500px;
  height: auto;
  text-align: center;
}

.steps {
  background-color: #0a1d37;
  color: #f5e6ca;
}

.yellow h2 {
  color: #f5e6ca;
}

.yellow li {
  color: #fb9300;
}
